.header {
    padding-left: 15px;
    background-color: black;
    display: flex;
    justify-content:  space-between;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color:black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;

  
}
.item:hover{
    transform: scale(1.2);
}
body{
    margin: 0px;
    background-color: whitesmoke;
}
.menu a {
    margin-left: 20px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    margin:25px;

    border: 2px solid #000
  


}
.item {
    position: relative;
    border-radius: 50px;
    background-color: white;
    width: 310px;
    font-family: fantasy;

}

.item p{
    color:rgb(9, 39, 19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
h1{
                
    color: white;

    

}
.img{
    border: 2px solid black;
    border-radius: 40px;
}

.bottom-left {
    position: absolute;
    padding:50px;
    margin: 110px;
    top: 8px;
    left: 16px;
    color:white;
  }
  .top-left {
    margin: 95px;
    padding-left:460px;
    color:white;
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .a:link{
    color:white
  }
 .a:visited{
    color:green
}
.bodyimg{
    position:relative;
}



